@media screen and (min-width: 300px) {
    .home {
        min-height: 92vh;
        padding: 5vh 2.5vw;
        
        > h1 {
            display: grid;
            grid-auto-flow: column;
            align-content: center;
            justify-content: left;
            column-gap: 2.5vw;
    
            > :last-child {
                color: var(--main-color)
            }
        }
    
        > .home__trendingWrapper {
            padding: 5vh 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2.5vw;
        }
    }
}

@media screen and (min-width: 768px) {
    .home {
        min-height: 92vh;
        padding: 5vh 2.5vw;
        
        > h1 {
            display: grid;
            grid-auto-flow: column;
            align-content: center;
            justify-content: left;
            column-gap: 2.5vw;
    
            > :last-child {
                color: var(--main-color)
            }
        }
    
        > .home__trendingWrapper {
            padding: 5vh 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2.5vw;
        }
    }
}

@media screen and (min-width: 992px) {
    .home {
        min-height: 92vh;
        padding: 5vh 2.5vw;
        
        > h1 {
            display: grid;
            grid-auto-flow: column;
            align-content: center;
            justify-content: left;
            column-gap: 2.5vw;
    
            > :last-child {
                color: var(--main-color)
            }
        }
    
        > .home__trendingWrapper {
            padding: 5vh 0;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2.5vw;
        }
    }
}